body
{
    background-color: #4d4d4d;
    padding: 100px;
}

.inbox
{
    padding: 10px;
    margin : auto;
    width: 300px;
}


.buttonCase
{
    
    margin : auto;
    width: 300px;
    margin-bottom: 10px;
}




.button
{
    padding: 5px;
    width: 80%;
    font-size: 20px;
    color: black;
    background-color: rgb(118, 202, 223);
    font-family: monospace;
    border-radius: 4px;
    outline: none;
    border: none;
}

.slidecontainer
{
    width: 100%;
    margin : auto;
    background-color: rgb(255, 255, 255);
    font-family: monospace;
    border-radius: 15px;

}

.txt
{
    padding: 20px 0px 0px 45px;
    font-size: 40px;
}

.white
 {
     color: white;
     width: 40%;
     float: left;
     font-size: 12px;
     font-family: monospace;
 }


 .fila:after {
    content: "";
    display: table;
    clear: both;
  }